doctype html
html(lang="en")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap.css')
    link(rel='stylesheet' href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet' href='/components/fullcalendar/dist/fullcalendar.css')

    | <!--[if lt IE 9]>
    | <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    | <![endif]-->

  body
    .header
      h1 App
      #links

    .container
      #flash

      .content-wrapper
        .content
          block content

    // javascript files here
    script(src="/components/jquery/dist/jquery.js")
    script(src="/components/bootstrap/dist/js/bootstrap.js")
    script(src="/components/superagent/superagent.js")
    script(src="/components/react/react.js")
    script(src="/components/page/index.js")
    script(src="/components/moment/moment.js")
    script(src="/components/fullcalendar/dist/fullcalendar.js")
    script(src="/javascripts/app.js")
